<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <h1 class="mb-4">Todo List</h1>
            </div>
            <div class="col-6 text-right">
                <a th:href="@{/login?logout}" class="btn btn-danger">Logout</a>
            </div>
        </div>
        <form th:action="@{/}" method="get" class="form-inline">
            <div class="form-group">
                <select class="form-control" id="filter" name="filter">
                    <option value="" th:selected="${filter == null}">전체 항목</option>
				    <option value="completed" th:selected="${filter == 'completed'}">완료된 항목</option>
				    <option value="incomplete" th:selected="${filter == 'incomplete'}">완료되지 않은 항목</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary ml-2">필터 적용</button>
        </form>
        <form th:action="@{/add}" method="post" class="todo-form mt-3">
            <div class="form-row">
                <div class="col-8">
                    <input type="text" class="form-control todo-description" id="description" name="description" placeholder="Enter a new todo item" required>
                </div>
                <div class="col-3">
                    <select class="form-control" id="category" name="category" required>
                        <option th:each="categoryOption : ${T(com.chj.todolist.Constants).CATEGORY_OPTIONS}" th:value="${categoryOption}" th:text="${categoryOption}"></option>
                    </select>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary add-button">Add</button>
                </div>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Completed</th>
                    <th>Actions</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${todoItems}">
                    <td th:text="${item.description}" th:classappend="${item.completed} ? 'completed' : ''"></td>
                    <td>
                        <span th:text="${item.category}" th:class="'category-label ' + ${#strings.toLowerCase(item.category)}"></span>
                    </td>
                    <td><input type="checkbox" th:checked="${item.completed}" disabled="disabled"></td>
                    <td>
                        <form th:action="@{/toggle/{id}(id=${item.id})}" method="post">
                            <button type="submit" class="btn btn-primary">Toggle</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/delete/{id}(id=${item.id})}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
